@tailwind base;
@tailwind components;
@tailwind utilities;

/* Estilos personalizados */
body {
  background: radial-gradient(circle, #898a96 0%, #465458 100%);
  width: 100%;
  height: 100vh;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  transition: background 0.5s ease-in-out;
}

@media (max-width: 768px) {
  body {
    background: radial-gradient(circle, #6d6f79 0%, #3a4043 100%);
  }
}

@media (max-width: 480px) {
  body {
    background: radial-gradient(circle, #56585f 0%, #2c3133 100%);
  }
}
